
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #141414;   
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}


h1 {
  color: #e50914;   
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
}

h3 span {
  color: #e50914;
  font-weight: bold;
}

/* Search box */
.search-box {
  margin-bottom: 20px;
}

.search-box label {
  display: block;
  margin-bottom: 5px;
}

.search-box input {
  padding: 8px;
  width: 250px;
  background-color: #333;
  border: none;
  color: white;
}


form {
  background-color: #1f1f1f;
  padding: 15px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #333;
  border: none;
  color: white;
}

form button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

form button:hover {
  background-color: #f40612;
}


#userList {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

#userList li {
  background-color: #2a2a2a;
  margin: 5px auto;
  padding: 10px;
  width: 300px;
}